<ng-include src="config.domainPath+'/shared/header.html'"></ng-include>

<div class="navigationpage_wrapper" ng-controller="resourcegroupController" >
    <div class="site-canvas">
        <ng-include src="config.domainPath+'/shared/menu.html'"></ng-include>
        <div class="container-fluid slide_up" arrow-selector>
            <div class="navright_container listpage_container" >
                <ul class="page_path">
                    <li><a href="{{config.urlPath}}/home">Home </a></li>
                    <li><a href="{{config.urlPath}}/home/{{applicationId}}">{{applicationName}} </a></li>
                    <li class="last">Resource Groups</li>

                </ul>
                <div class="header_info">                
                    <h2 class="page_heading">
                        <span class="header">Resource Groups</span>
                        <span style="float:right"> 
                            <a  href="{{config.urlPath}}/{{applicationId}}/resourcegroups/search"><img src="{{config.domainPath}}/assets/images/search_icon_blue.png"></a> 
                        </span> 
                    </h2>             
                    <div class="clearfix"></div>				
                </div>

                <div class="form_container">
                    <form name="resourcegroupForm" novalidate>
                        <div class="list_container selectbox1"> 
                            <label class="control-group dropdown_label">Resource Type <em>*</em></label>
                            <div class="selectbox1-opener" ng-click="openDropdown = !openDropdown">{{resourcetypename|| 'Select Resource Type'}} <span ng-class="getDropdownIconClass()" class="dropdown-icon"></span></div>
                            <table ng-show="openDropdown" st-pipe="callServerDropdown" st-table="resourcetypes" class="smart-table table table-striped" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th class="search_box"> <input class="selectbox1_bg" type="text" focus-on="focusInput" st-search="name" ng-model="search_dd" placeholder="Search">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="scrolldropdown" style="min-width:334px;" >
                                    <tr ng-show="!isLoading_dd" ng-repeat='resourcetypedetails in resourcetypes'  ng-click='selectResourcetype(resourcetypedetails)' >
                                        <td>{{resourcetypedetails.name}}</td>
                                    </tr>
                                    <tr ng-if="resourcetypes == null">
                                        <td class="alert">{{error_dd}}</td>
                                    </tr>
                                    <tr ng-show="isLoading_dd">
                                        <td  class="text-center loader-area"><div ng-show="isLoading_dd" class="loading-indicator"></div></td>
                                    </tr>
                                </tbody>
                                <tfoot class="pagination-container" ng-if="resourcetypes != null">
                                    <tr>
                                        <td class="paginationarea">
                                            <div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage_resourceType" ></div>
                                            <div class="page_change">
                                                <select ng-model="itemsByPage_resourceType"  name="itemsByPage_resourceType">
                                                    <option ng-repeat="data in paginationPageSizes" value="{{data}}" ng-selected="itemsByPage_resourceType == data">{{data}}</option>
                                                </select>
                                            </div></td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="error" style="color:red" ng-show="error_dd">Please select a Resource Type.</div>
                        </div>    
                    </form>
                </div>

                <div class="view_details_field_spacer"></div>

                <div class="list_boxshadow" id="content_area">
                    <div class="pageform_wrapper">
                        <div class="list_view_container">                            
                            <div class="list_container grid_box" >
                                <table st-pipe="callServer" st-table="resourcegroups"  class="smart-table table table-striped" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th class="search_box full">
                                                <span class="search_header" >Name</span>
                                                <a class="search_button" ng-click="startSearch()" ng-show="searchIcon"><img src="{{config.domainPath}}/assets/images/search_list.png"  alt=""/></a>
			                                    <div class="search_window animate_sideways" ng-show="searchBox">                                        
			                                        <input type="text" focus-on="focusInput" st-search="name" ng-model="search" placeholder="Search">
			                                        <a class="close_button" st-refresh='name' ng-click="endSearch()">&times;</a>
			                                    </div>
			                                    <abbr title="Sort"><span class="sort_icon" ng-if="resourcegroups != null" st-sort-default="{{sortType}}" st-skip-natural="true" st-sort="name" ></span></abbr>
                                    		</th>
                                    	</tr>
                                    </thead>                                    
                                    <tbody id="scrolltable" >
                                         <tr ng-show="isLoading">
                                            <td class="text-center loader-area"><div ng-show="isLoading" class="loading-indicator"></div> </td>
                                        </tr>
                                        <tr ng-show="!isLoading"  ng-repeat='resourcegroupdetails in resourcegroups'  ng-click='selectResourcegroup(resourcegroupdetails,$index)' ng-class="{'selectedActive':$index == selectedRow}"> 
                                            <td>{{resourcegroupdetails.name}}</td>
                                        </tr>
                                        <tr ng-if="resourcegroups == null && !isLoading"><td class="alert">{{error}}</td></tr>                                       
                                    </tbody>                                    
                                    <tfoot class="pagination-container" ng-if="resourcegroups != null">
                                        <tr>
                                            <td class="paginationarea">
                                                <div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage" ></div>
                                                <div class="page_change">                                                
                                                    <select ng-model="itemsByPage" id="itemsByPage" name="itemsByPage" ng-change="setItemsByPage()">
                                                        <option ng-repeat="data in paginationPageSizes" value="{{data}}" ng-selected="itemsByPage == data">{{data}}</option>
                                                    </select>               
                                                </div>
                                            </td>
                                        </tr>                                        
                                    </tfoot>
                                </table>
                            </div>
                            
                                
                                <div class="view_container">
                                <div class="listgridheader">                                  
                                    <a ng-if="resourcegroups != null && access[module] == accessAdmin && viewHierarchical" ng-click="confirmDelete(selectedResourceGroup.id)" class="primary ico_delete"><!--<img src="{{config.domainPath}}/assets/images/delete_list.png">--><span class="action">Delete</span></a>
                                    <a ng-if="resourcegroups != null && access[module] == accessAdmin && viewHierarchical" href="{{config.urlPath}}/{{applicationId}}/resourcegroups/edit/{{selectedResourceGroup.id}}" class="primary ico_edit"><!--<img src="{{config.domainPath}}/assets/images/edit_list.png">--><span class="action">Edit</span></a>
                                    <a ng-if="resourcetypename && access[module] == accessAdmin && viewHierarchical" href="{{config.urlPath}}/{{applicationId}}/resourcegroups/add" class="primary ico_add" ><!--<img src="{{config.domainPath}}/assets/images/add_list.png">--><span class="action">Add</span></a>
                                    <div class="clearfix"></div>
                                </div>
                                <!--div  class="view_details" ng-if="resourcegroups == null">
                                    <p class="scrollrightdiv" > {{error}}</p> 
                                </div-->
                                 <div  class="view_details" >
                                 	<div ng-if="resourcegroups == null" class="scrollrightdiv alert_container">{{error}}</div>
                                    <div id="scrollrightdiv" class="scrollrightdiv" ng-show="resourcegroups != null">                                       
                                        <label>Name </label>
                                        
                                        <p>{{ selectedResourceGroup.name}}
                                        <abbr title="View Description"><a ng-click="toggle()"><img src="{{config.domainPath}}/assets/images/read_more.png"> </a></abbr></p>
                                       <div ng-if="list_hide">
   					 					<div ng-show="description.active" class="fadein fadeout"> 
                                        <div class="view_details_field_spacer"></div>
                                      <label>Description</label>
                                        <p>{{ selectedResourceGroup.description}}</p>
                                        </div>
                  						</div>
                                        <div class="view_details_field_spacer"></div>
                                        <label>Resources</label>
                                        <div class="users_grout_header_buttons"> 
                                        	<a ng-if="access[module] == accessAdmin" class="primary editMember" href="{{config.urlPath}}/{{applicationId}}/resourcegroups/resources/assign/{{selectedResourceGroup.id}}"><!--<img src="{{config.domainPath}}/assets/images/edit_list_blue.png">--><span class="action">Edit Resources</span></a> 
                                        </div>
                                        
                                           <!--div st-table="selectedResourceDetails" st-safe-src="selectedResourceAttribute" ng-class="(selectedResourceGroupResourcesCount > 8) ? 'view-sub-list-wrapper' : 'view-sub-list-wrapper-less'">
                                            <div class="view-sub-list view-sub-list-header-right">
                                                <div ng-if="selectedResourceGroupResourcesCount > rightPageinationPerPage" class="search_box">
                                                    <span class="search_header">Name</span>
                                                    <a class="search_icon_right_space search_button" ng-click="startViewSearch()" ng-if="resourcesearchIcon"><img src="{{config.domainPath}}/assets/images/assign_search.png" width="15" height="15" alt=""/></a>
                                                    <div class="search_window animate_sideways" ng-show="resourcesearchBox">                                        
                                                        <input class="search_reset" type="text" focus-on="resourcefocusInput" ng-model="search_resource"  st-search=""  placeholder="Search">
                                                        <a class="close_button" st-refresh='name' ng-click="endViewSearch()">&times;</a>
                                                    </div>                                                                        
                                                    <div  class="right-pagination" st-pagination="" st-items-by-page="rightPageinationPerPage" st-template="shared/right-pagination.html" ></div>
                                                    <div class="search_sort_right">
                                                        <abbr title="Sort"><span class="sort_icon"  st-sort-default="{{sortType}}" st-skip-natural="true" st-sort="name" ></span></abbr>
                                                    </div>
                                                </div>

                                                <div ng-if="selectedResourceGroupResourcesCount <= rightPageinationPerPage" class="full search_box">
                                                    <span class="search_header">Name</span>
                                                    <a class="search_button" ng-click="startViewSearch()" ng-if="resourcesearchIcon"><img src="{{config.domainPath}}/assets/images/assign_search.png" width="15" height="15" alt=""/></a>
                                                    <div class="search_window animate_sideways" ng-show="resourcesearchBox">                                        
                                                        <input class="search_reset_no_pagination" type="text" focus-on="resourcefocusInput"  ng-model="search_resource" st-search=""  placeholder="Search">
                                                        <a class="close_button" st-refresh='name' ng-click="endViewSearch()">&times;</a>
                                                    </div>                                                                        
                                                    <div class="search_sort_right">
                                                        <abbr title="Sort"><span class="sort_icon"  st-sort-default="{{sortType}}" st-skip-natural="true" st-sort="name" ></span></abbr>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            <div id="scrollresource" >                                                
                                                <ul ng-if="selectedResourceDetails.length != 0">
                                                    <li ng-repeat="resourceGroupResource in selectedResourceDetails">{{resourceGroupResource.fqdn==null?resourceGroupResource.name:resourceGroupResource.fqdn}}</li>                                                    
                                                </ul>
                                                <ul ng-if="selectedResourceDetails.length == 0">
                                                    <li><i>No Records</i></li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </div>                                            
                                                                                  
                                            <div class="clearfix"></div>
                                        </div>
                                    </div-->
                                           
                                    	<div st-pipe="callServerResources" st-table="resourceGroupsResource" ng-class="(resourceGroupsResource.length > 8) ? 'view-sub-list-wrapper' : 'view-sub-list-wrapper-less'">
                                        	<div class="view-sub-list view-sub-list-header-right">  
                                                <div  class="search_box" >
                                                    <span class="search_header">Name</span>
                                                    <a class="search_icon_right_space search_button" ng-click="startViewSearch()" ng-if="resourcesearchIcon"><img src="{{config.domainPath}}/assets/images/assign_search.png"  alt=""/></a>
                                                    <div class="search_window animate_sideways" ng-show="resourcesearchBox">                                        
                                                        <input class="search_reset" type="text" focus-on="resourcefocusInput" ng-model="search_resource"  st-search=""  placeholder="Search">
                                                        <a class="close_button" st-refresh='name' ng-click="endViewSearch()">&times;</a>
                                                    </div>                                                                        
                                                    <div ng-if="resourceGroupsResource.length>0" class="right-pagination" st-pagination="" st-items-by-page="itemsByPage_resource" st-template="shared/right-pagination.html" ></div>
                                                    <div class="search_sort_right">
                                                        <abbr title="Sort"><span ng-if="resourceGroupsResource.length>0" class="sort_icon" st-sort-default="{{sortType}}" st-skip-natural="true" st-sort="name" ></span></abbr>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div id="scrollresource" >
                                                 <ul ng-show="isLoading_resource">
                                                    <li><div class="loading-indicator"></div></li>
                                                </ul>
                                                <ul ng-show="resourceGroupsResource.length != 0 && !isLoading_resource">                                                    
                                                    <li ng-repeat='resource in resourceGroupsResource' >{{resource.fqdn==null?resource.name:resource.fqdn}}</li>                                                    
                                                </ul>
                                                <ul ng-if="error_resource">
                                                    <li><i>{{error_resource}}</i></li>
                                                </ul>
                                               
                                                <div class="clearfix"></div>
                                            </div> 
                                                
                                            <div class="clearfix"></div>
                                        </div>
                                        
                                        <!-- <table st-pipe="callServerResources" st-table="resourceGroupsResource"  class="smart-table table table-striped" cellspacing="0" cellpadding="0">
		                                    <thead>
		                                        <tr>
		                                            <th class="search_box full">
		                                                <span class="search_header" >Name</span>
		                                                <a class="search_button" ng-click="startSearch()" ng-show="searchIcon"><img src="{{config.domainPath}}/assets/images/search_list.png"  alt=""/></a>
					                                    <div class="search_window animate_sideways" ng-show="searchBox">                                        
					                                        <input type="text" focus-on="focusInput" st-search="name" ng-model="search" placeholder="Search">
					                                        <a class="close_button" st-refresh='name' ng-click="endSearch()">&times;</a>
					                                    </div>
				                                    	<abbr title="Sort"><span class="sort_icon" ng-if="resourcegroups != null" st-sort-default="{{sortType}}" st-skip-natural="true" st-sort="name" ></span></abbr>
		                                    		</th>
		                                    	</tr>
		                                    </thead>
		                                    <tbody id="scrolltable" >
		                                         <tr ng-show="isLoading_resource">
		                                            <td class="text-center loader-area"><div ng-show="isLoading_resource" class="loading-indicator"></div> </td>
		                                        </tr>
		                                        <tr ng-show="!isLoading_resource"  ng-repeat='resource in resourceGroupsResource'>
		                                            <td>{{resource.name}}</td>
		                                        </tr>
		                                        <tr ng-if="resourceGroupsResource == null && !isLoading_resource"><td class="alert">{{error}}</td></tr>                                       
		                                    </tbody>                                    
		                                    <tfoot class="pagination-container" ng-if="resourceGroupsResource != null && !isLoading_resource">
		                                        <tr>
		                                            <td class="paginationarea">
		                                                <div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage_resource" ></div>
		                                                <div class="page_change">                                                
		                                                    <select ng-model="itemsByPage_resource" id="itemsByPage_resource" name="itemsByPage_resource" ng-change="setItemsByPage()">
		                                                        <option ng-repeat="data in paginationPageSizes" value="{{data}}" ng-selected="itemsByPage_resource == data">{{data}}</option>
		                                                    </select>               
		                                                </div>
		                                            </td>
		                                        </tr>                                        
		                                    </tfoot>
		                                </table> -->
                                        
                                    </div>


                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                            </div>
                               
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div>    
         <div class="clearfix"></div>
        </div>
     <div class="clearfix"></div>
    </div>

<ng-include src="config.domainPath+'/shared/footer.html'"></ng-include>