
<ng-include src="config.domainPath+'/shared/header.html'"></ng-include>
<div class="navigationpage_wrapper" ng-controller="delegatedadminController" >
    <div class="site-canvas">
        <ng-include src="config.domainPath+'/shared/menu.html'"></ng-include>
        <div class="container-fluid slide_up" >
            <div class="pageform_wrapper">
                <div class="navright_container listpage_container form_container" >
                    <ul class="page_path">
                        <li><a href="{{config.urlPath}}/home">Home </a></li>
                        <li><a href="{{config.urlPath}}/home/{{applicationId}}">{{applicationName}} </a></li>
                        <li><a href="{{config.urlPath}}/application/edit/{{applicationId}}">Map Users/Groups to Application</a></li>
                        <li class="last">Assign</li>                  
                    </ul>
                    <div class="header_info">                
                        <h2 class="page_heading">
                            <span class="header">{{applicationName}}</span>
                            <span style="float:right">
                                <!-- <a href="javascript:;" onclick="javascript:confirm('Are you sure you want to Delete entire Application and its associated data?');return false;"><img src="{{config.domainPath}}/assets/images/app_delete.png"></a> -->
                                <abbr title="Delete Application">
                                    <a href="javascript:;" ng-click="confirmDelete(application.id)"><img src="{{config.domainPath}}/assets/images/app_delete.png"></a></abbr>
                            </span>
                        </h2>             

                        <div class="clearfix"></div>				
                    </div> 
                    <div class="list_container selectbox1"> 
                        <label class="control-group dropdown_label">Source<em>*</em></label>
                        <div class="selectbox1-opener" ng-click="openDropdown = !openDropdown">{{sourceName|| 'Select Source'}} 
                            <span ng-class="getDropdownIconClass()" class="dropdown-icon"></span>
                        </div>
                        <table ng-show="openDropdown && sources.length > 1" st-pipe="callServer"  st-table="sources" class="smart-table table table-striped" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th class="search_box"> <input class="selectbox1_bg" type="text" focus-on="focusInput" st-search="name"  placeholder="Search">
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="scrolltable" style="min-width:334px;" >
                                <tr ng-show="!isLoading_source" actions-repeat-directive ng-repeat='sourcedetails in sources'  ng-click='selectSource(sourcedetails)' >
                                    <td>{{sourcedetails.name}}</td>
                                </tr>
                                <tr ng-if="sources == null">
                                    <td class="alert">{{error}}</td>
                                </tr>
                                <tr ng-show="isLoading_source">
                                    <td  class="text-center loader-area"><div ng-show="isLoading_source" class="loading-indicator"></div></td>
                                </tr>
                            </tbody>
                            <tfoot class="pagination-container" ng-if="sources != null">
                                <tr>
                                    <td class="paginationarea">
                                        <div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage_source" ></div>
                                        <div class="page_change">
                                            <select ng-model="itemsByPage_source"  name="itemsByPage_source">
                                                <option ng-repeat="data in paginationPageSizes" value="{{data}}" ng-selected="itemsByPage_source == data">{{data}}</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="error required"  ng-if="sourceerr && sourceName == null">Please select source.</div>

                    </div> 
                    <div class="view_details_field_spacer"></div>
                    <div class="list_serach advance_search" style="min-height: 0;">
                        <form name="searchForm" novalidate >
                            <div class="serach_type_mt0 serach_type">
                                <!--div ng-show="activeLetter != ''"--> 
                                <div class="search_by">Select Your Criteria:
                                    <div class=" serach_dropdown">
                                        <span  class="customSearch" ng-click="opentoolbar('field-dropdown')" ng-class="{
                                                'empty-criteria'
                                                : !searchField && showRecords}">{{searchField|| 'Name'}}&nbsp;<img src="{{config.domainPath}}/assets/images/br_down.png"></span>
                                        <div id="field-dropdown" class="close_div">
                                            <span  class="dropdown-arrow"></span>
                                            <div  class="list_container selectbox1 selectbox2">
                                                <ul>
                                                    <li class="disabled_list_row" ng-repeat="displayKey in notSorted(displayAttributes)"  value ="{{displayKey}}*{{displayValue}}" ng-init="displayValue = displayAttributes[displayKey]" ng-click="setSearchField(displayKey + '*' + displayValue)">
                                                        <span class='right_list_text'>{{displayValue}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <input ng-keypress="removeClass()" type="text" placeholder="{{placeholder}}" id="serach" ng-model="search" autocorrect="off"  autocomplete="off"  spellcheck="false"  dir="auto">
                                    <a class="close_button"  ng-click="endSearch()">&times;</a>
                                    <div class="srch-break"></div>
                                    <div class="form_container button_group_right">
                                        <md-button ng-click="submitSearch()">SEARCH</md-button>
                                    </div>
                                </div>
                                <!--/div-->
                            </div>
                        </form>
                    </div>
                    <div class="role_policy_field_spacer"></div>
                    <!--div ng-if="info!=null" style="color:red;">{{info}}</div-->
                    <div class="list_serach_map_app map_deligated" id="content_area">                  
                        <!-- <div class="search_character">
                            <button type="button" class="btn_alphabet" ng-repeat="letter in alphabet" ng-click="setActiveLetter(letter, sourceId, tabName)" ng-class="{'btn-primary': letter == activeLetter}">{{letter}}</button>
                        </div> -->

                        <div class="listdeligated">
                            <ul data-persist="true" class="tabs tabsInnr">
                                <li class="selected" id="usertab"><a ng-click="markSelected(activeLetter, sourceId, 'user')">Users</a></li>
                                <li class="" id="grouptab"><a ng-click="markSelected(activeLetter, sourceId, 'group')">Groups</a></li>
                            </ul>
                            <div class="tblColWrpr">
                                <div id="mainContent" >
                                    <div id="user" style="display: block;" > 
                                        <div class="dual_list_container">
                                            <div class="list_container" st-table="usersourceList" st-safe-src="sourcelist.users">
                                                <div class="search_box full">
                                                    <span class="search_header">Name</span>
                                                    <a class="search_button" ng-click="startSearch('usersource')" ng-if="usersourcesearchIcon"><img src="{{config.domainPath}}/assets/images/search_list.png" alt=""/></a>

                                                    <div class="search_window animate_sideways" ng-show="usersourcesearchBox">                                        
                                                        <input class="text_white" type="text" focus-on="usersourcefocusInput"  st-search=""  placeholder="Search">
                                                        <a class="close_button" st-refresh='uid' ng-click="endSearch('usersource')">&times;</a>
                                                    </div>

                                                    <div class="search_sort_right">
                                                        <abbr title="Sort"><span id="stsort_user" class="sort_icon3" st-sort-default="{{sortTypeUser}}" st-skip-natural="true" st-sort="uid" ng-click="setSortOrder('user')"></span></abbr>

                                                    </div>
                                                </div>
                                                <div id='unassignscroll'>
                                                    <ul ng-show="!isLoading">
                                                        <li ng-repeat='item in usersourceList' ng-click='selectSourceItem(item)' ng-class="{selectedActive: isSelectedSource(item)}">

                                                            <span class="right_list_text">{{item.uid}}</span>
                                                        </li>
                                                    </ul>
                                                    <ul  ng-show="isLoading" class="text-center loader-area">
                                                        <li><div  class="loading-indicator"></div></li>
                                                    </ul>
                                                    <ul  ng-show="!isLoading" class="loader-area">
                                                        <li  class="alert required">                                                       
                                                            <div ng-if="sourcelist.users == null" >{{error}}</div>
                                                            <div ng-if="info != null && sourcelist.users == null" >{{info}}</div>
                                                        </li>                                                   
                                                    </ul>

                                                    <div class="clearfix"></div>
                                                </div>

                                                <div class="paginationarea" ng-if="usersourceListLength > 0">
                                                    <div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage_user" ></div>
                                                    <div class="page_change">                                                
                                                        <select ng-model="itemsByPage_user" id="itemsByPage_user" name="itemsByPage_user" ng-change="setItemsByPage('user')">
                                                            <option ng-repeat="data in paginationPageSizes" value="{{data}}" ng-selected="itemsByPage_user == data">{{data}}</option>
                                                        </select>               
                                                    </div>
                                                </div>
                                                <div class="paginationarea" ng-if="usersourceListLength == 0">
                                                    <div class="left-pagination"  ></div>
                                                    <div class="page_change"> 
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="map_deligated_app list_btn_container">
                                                <img src="{{config.domainPath}}/assets/images/right_add.png"  ng-click='addItem(selectedSourceItems, tabName)' title="Add" alt="Add" /><br/><br/><br/><br/>
                                                <img src="{{config.domainPath}}/assets/images/left_remove.png"  ng-click='removeItem(selectedTargetItems, tabName)' title="Remove" alt="Remove" /><br/><br/><br/><br/>
                                                <img src="{{config.domainPath}}/assets/images/reset_assign.png"  ng-click='resetItem(tabName)' title="Reset" alt="Reset" />

                                            </div>
                                            <div class="list_container_one list_container right" st-table="userfulltargetList" st-safe-src="targetlistFull.users">
                                                <div class="search_box full">
                                                    <span class="search_header">Selected Users</span>
                                                    <a class="search_button" ng-click="startSearch('userfulltarget')" ng-show="userfulltargetsearchIcon"><img src="{{config.domainPath}}/assets/images/assign_search.png" width="15" height="15" alt=""/></a>

                                                    <div class="search_window animate_sideways" ng-show="userfulltargetsearchBox">

                                                        <input type="text" focus-on="userfulltargetfocusInput" st-search=""  placeholder="Search">
                                                        <a class="close_button" st-refresh='uid' ng-click="endSearch('userfulltarget')">&times;</a>
                                                    </div>

                                                    <div class="search_sort_right">
                                                        <abbr title="Sort"><span  class="sort_icon3"  st-sort-default="{{sortType}}" st-skip-natural="true" st-sort="uid" ></span></abbr>
                                                    </div>
                                                </div>

                                                <div id='assignscroll'>
                                                    <ul>
                                                        <li ng-repeat='item in userfulltargetList' ng-click='selectTargetItem(item)' ng-class="{selectedActive: isSelectedTarget(item)}">
                                                            <span class='right_list_text'>{{item.uid}}</span>
                                                        </li>
                                                    </ul>                                                
                                                    <ul  ng-show="!isLoading" class="loader-area">
                                                        <li  class="alert required">
                                                            <div ng-if="sourcelist.users == null && activeLetter == '' && userfulltargetList.length == 0">{{info}}</div>
                                                            <div ng-if="userfulltargetList.length == 0" >{{dispmsg}}</div>
                                                        </li>                                                   
                                                    </ul> 

                                                </div>                                            
                                                <div class="paginationarea" ng-if="userfulltargetList.length > 0">
                                                    <div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage" ></div>
                                                    <div class="page_change">                                                
                                                        <select ng-model="itemsByPage"  name="itemsByPage">
                                                            <option ng-repeat="data in paginationPageSizes" value="{{data}}">{{data}}</option>
                                                        </select>               
                                                    </div>
                                                </div>
                                                <div class="paginationarea" ng-if="userfulltargetList.length == 0">
                                                    <div class="left-pagination"  ></div>
                                                    <div class="page_change"> 
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>

                                            </div>


                                            <div class="list_container right allselected"  st-table="usertargetList" st-safe-src="targetlist.users">
                                                <div class="search_box full">
                                                    <span class="search_header">All Selected Users&nbsp;&nbsp;&nbsp;&nbsp;(Source)</span>
                                                    <a class="search_button" ng-click="startSearch('usertarget')" ng-show="usertargetsearchIcon"><img src="{{config.domainPath}}/assets/images/assign_search.png" width="15" height="15" alt=""/></a>

                                                    <div class="search_window animate_sideways" ng-show="usertargetsearchBox">

                                                        <input type="text" focus-on="usertargetfocusInput" st-search="" placeholder="Search">
                                                        <a class="close_button" st-refresh='uid' ng-click="endSearch('usertarget')">&times;</a>
                                                    </div>

                                                    <div class="search_sort_right">
                                                        <abbr title="Sort"><span  class="sort_icon3"  st-sort-default="{{sortType}}" st-skip-natural="true" st-sort="uid" ></span></abbr>
                                                    </div>
                                                </div>

                                                <div id='fullassignscroll'>
                                                    <ul>
                                                        <li ng-repeat='item in usertargetList'>
                                                            <span class='right_list_text'>{{item.uid}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="source_view">({{getSource(item.sid)}})</span></span>
                                                        </li>
                                                    </ul>
                                                    <ul  ng-show="!isLoading" class="loader-area">
                                                        <li  class="alert required"> 
                                                            <div ng-if="info != null && usertargetList.length == 0" >{{info}}</div>
                                                            <div ng-if="usertargetList.length == 0" >{{dispmsg}}</div>
                                                        </li>                                                   
                                                    </ul>
                                                </div>

                                                <div class="paginationarea" ng-if="usertargetList.length > 0">
                                                    <div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage" ></div>
                                                    <div class="page_change">                                                
                                                        <select ng-model="itemsByPage"  name="itemsByPage">
                                                            <option ng-repeat="data in paginationPageSizes" value="{{data}}">{{data}}</option>
                                                        </select>               
                                                    </div>
                                                </div>
                                                <div class="paginationarea" ng-if="usertargetList.length == 0">
                                                    <div class="left-pagination"  ></div>
                                                    <div class="page_change"> 
                                                    </div>
                                                </div>

                                                <div class="clearfix"></div>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="group" style="display: none;"> 
                                        <div class="dual_list_container">
                                            <div class="list_container" st-table="groupsourceList" st-safe-src="sourcelist.groups">
                                                <div class="search_box full">
                                                    <span class="search_header">Name</span>
                                                    <a class="search_button" ng-click="startSearch('groupsource')" ng-show="groupsourcesearchIcon"><img src="{{config.domainPath}}/assets/images/search_list.png" alt=""/></a>

                                                    <div class="search_window animate_sideways" ng-show="groupsourcesearchBox">

                                                        <input type="text" focus-on="groupsourcefocusInput" st-search=""  placeholder="Search">
                                                        <a class="close_button" st-refresh='name' ng-click="endSearch('groupsource')">&times;</a>
                                                    </div>

                                                    <div class="search_sort_right">
                                                        <abbr title="Sort"><span  id="stsort_group" class="sort_icon3"  st-sort-default="{{sortTypeGroup}}" st-skip-natural="true" st-sort="name" ng-click="setSortOrder('group')"></span></abbr>
                                                    </div>
                                                </div>
                                                <div id='unassigngroupscroll'>
                                                    <ul ng-show="!isLoading">
                                                        <li ng-repeat='item in groupsourceList' ng-click='selectSourceItem(item)' ng-class="{selectedActive: isSelectedSource(item)}">

                                                            <span class='right_list_text'>{{item.name}}</span>
                                                        </li>
                                                    </ul>
                                                    <ul ng-show="isLoading" class="text-center loader-area">
                                                        <li><div class="loading-indicator"></div></li>
                                                    </ul>
                                                    <ul  ng-show="!isLoading" class="loader-area">
                                                        <li  class="alert required">                                                       
                                                            <div ng-if="sourcelist.groups == null" >{{error}}</div>
                                                            <div ng-if="info != null && sourcelist.groups == null" >{{info}}</div>

                                                        </li>                                                   
                                                    </ul>                                               

                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="paginationarea" ng-if="groupsourceListLength > 0">
                                                    <div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage_group" ></div>
                                                    <div class="page_change">                                                
                                                       <select ng-model="itemsByPage_group" id="itemsByPage_group" name="itemsByPage_group" ng-change="setItemsByPage('group')">
                                                            <option ng-repeat="data in paginationPageSizes" value="{{data}}" ng-selected="itemsByPage_group == data">{{data}}</option>
                                                        </select>               
                                                    </div>
                                                </div>
                                                <div class="paginationarea" ng-if="groupsourceListLength == 0">
                                                    <div class="left-pagination"  ></div>
                                                    <div class="page_change"> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="map_deligated_app list_btn_container">
                                                <img src="{{config.domainPath}}/assets/images/right_add.png"  ng-click='addItem(selectedSourceItems, tabName)' title="Add" alt="Add" /><br/><br/><br/><br/>
                                                <img src="{{config.domainPath}}/assets/images/left_remove.png"  ng-click='removeItem(selectedTargetItems, tabName)' title="Remove" alt="Remove" /><br/><br/><br/><br/>
                                                <img src="{{config.domainPath}}/assets/images/reset_assign.png"  ng-click='resetItem(tabName)' title="Reset" alt="Reset" />

                                            </div>
                                            <div class="list_container_one list_container right" st-table="groupfulltargetList" st-safe-src="targetlistFull.groups">
                                                <div class="search_box full">
                                                    <span class="search_header">Selected Groups</span>
                                                    <a class="search_button" ng-click="startSearch('groupfulltarget')" ng-show="groupfulltargetsearchIcon"><img src="{{config.domainPath}}/assets/images/assign_search.png" width="15" height="15" alt=""/></a>

                                                    <div class="search_window animate_sideways" ng-show="groupfulltargetsearchBox">

                                                        <input type="text" focus-on="groupfulltargetfocusInput" st-search=""  placeholder="Search">
                                                        <a class="close_button" st-refresh='name' ng-click="endSearch('groupfulltarget')">&times;</a>
                                                    </div>

                                                    <div class="search_sort_right">
                                                        <abbr title="Sort"><span  class="sort_icon3"  st-sort-default="{{sortType}}" st-skip-natural="true" st-sort="name" ></span></abbr>
                                                    </div>
                                                </div>
                                                <div id='assigngroupscroll' >
                                                    <ul>
                                                        <li ng-repeat='item in groupfulltargetList' ng-click='selectTargetItem(item)' ng-class="{selectedActive: isSelectedTarget(item)}">

                                                            <span class='right_list_text'>{{item.name}}</span>
                                                        </li>
                                                    </ul>
                                                    <ul  ng-show="!isLoading" class="loader-area">
                                                        <li  class="alert required">
                                                            <div ng-if="sourcelist.groups == null && activeLetter == '' && groupfulltargetList.length == 0" >{{info}}</div>
                                                            <div ng-if="groupfulltargetList.length == 0" >{{dispmsg}}</div>
                                                        </li>                                                   
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="paginationarea" ng-if="groupfulltargetList.length > 0">
                                                    <div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage" ></div>
                                                    <div class="page_change">                                                
                                                        <select ng-model="itemsByPage"  name="itemsByPage">
                                                            <option ng-repeat="data in paginationPageSizes" value="{{data}}">{{data}}</option>
                                                        </select>               
                                                    </div>
                                                </div>
                                                <div class="paginationarea" ng-if="groupfulltargetList.length == 0">
                                                    <div class="left-pagination"  ></div>
                                                    <div class="page_change"> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list_container right allselected" st-table="grouptargetList" st-safe-src="targetlist.groups">
                                                <div class="search_box full">
                                                    <span class="search_header">All Selected Groups&nbsp;&nbsp;&nbsp;&nbsp;(Source)</span>
                                                    <a class="search_button" ng-click="startSearch('grouptarget')" ng-show="grouptargetsearchIcon"><img src="{{config.domainPath}}/assets/images/assign_search.png" width="15" height="15" alt=""/></a>

                                                    <div class="search_window animate_sideways" ng-show="grouptargetsearchBox">

                                                        <input type="text" focus-on="grouptargetfocusInput"  st-search=""  placeholder="Search">
                                                        <a class="close_button" st-refresh='name' ng-click="endSearch('grouptarget')">&times;</a>
                                                    </div>

                                                    <div class="search_sort_right">
                                                        <abbr title="Sort"><span  class="sort_icon3"  st-sort-default="{{sortType}}" st-skip-natural="true" st-sort="name" ></span></abbr>
                                                    </div>
                                                </div>
                                                <div id='fullassigngroupscroll'>
                                                    <ul>
                                                        <li ng-repeat='item in grouptargetList' >
                                                            <span class='right_list_text'>{{item.name}}&nbsp;&nbsp;&nbsp;&nbsp;<span class="source_view">({{getSource(item.sid)}})</span></span>
                                                        </li>
                                                    </ul>                                               
                                                    <ul  ng-show="!isLoading" class="loader-area">
                                                        <li  class="alert required"> 
                                                            <div ng-if="info != null && grouptargetList.length == 0" >{{info}}</div>
                                                            <div ng-if="grouptargetlistLength == 0" >{{dispmsg}}</div>
                                                        </li>                                                   
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="paginationarea" ng-if="grouptargetList.length > 0">
                                                    <div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage" ></div>
                                                    <div class="page_change">                                                
                                                        <select ng-model="itemsByPage"  name="itemsByPage">
                                                            <option ng-repeat="data in paginationPageSizes" value="{{data}}">{{data}}</option>
                                                        </select>               
                                                    </div>
                                                </div>
                                                <div class="paginationarea" ng-if="grouptargetList.length == 0">
                                                    <div class="left-pagination"  ></div>
                                                    <div class="page_change"> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>  
                                </div>
                                <!--div class="alert" ng-if="info != null">
                                    {{info}}
                                </div-->
                            </div>  <!-- closing tblcolwrpr-->                        
                            <div class="clear">  </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="button_group"> 
                        <div  ng-click="submitted = true">
                            <span class="ng-scope"> <md-button ng-click="assignDeligated();">{{translation.deladmin.SAVE}}</md-button></span>
                        </div>
                        <div>
                            <span class="ng-scope"> <md-button type='reset' class="md-button md-default-theme" ng-click="redirectList();">{{translation.deladmin.CANCEL}}</md-button></span>
                        </div>
                    </div> 
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <ng-include src="config.domainPath+'/shared/footer.html'"></ng-include>






