<ng-include src="config.domainPath+'/shared/header.html'"></ng-include>

<div class="navigationpage_wrapper" ng-controller="systemadministratorController" >
    <div class="site-canvas">
        <ng-include src="config.domainPath+'/shared/menu.html'"></ng-include>
        <div class="container-fluid slide_up" arrow-selector>
            <div class="navright_container listpage_container" >
                <ul class="page_path">
                    <li><a href="{{config.urlPath}}/home">Home </a></li>
                    <li class="last">System Administrators</li>

                </ul>
                <div class="header_info">                
                    <h2 class="page_heading">
                        <span class="header">System Administrators</span>
                    </h2>             

                    <div class="clearfix"></div>				
                </div> 
                <!--button ng-click="confirm()" type="button" class="am-btn am-btn-warning am-btn-block" >Try it!</button-->
                <div class="view_details_field_spacer"></div>
                <div class="list_boxshadow">
                    <div class="pageform_wrapper">
                        <div class="list_view_container">                            
                            <div class="list_container grid_box" >
                                <table st-pipe="callServer" st-table="systemadministrators" class="smart-table table table-striped" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th class="search_box full">
                                                <span class="search_header" >Name</span>
                                                <a class="search_button" ng-click="startSearch()" ng-show="searchIcon"><img src="{{config.domainPath}}/assets/images/search_list.png"  alt=""/></a>
                                    <div class="search_window animate_sideways" ng-show="searchBox">                                        
                                        <input type="text" focus-on="focusInput" st-search="uid" ng-model="search" placeholder="Search">
                                        <a class="close_button" st-refresh='name' ng-click="endSearch()">&times;</a>
                                    </div>
                                    <abbr title="Sort"><span  id="stsort" class="sort_icon" ng-if="systemadministrators != null" st-sort-default="{{sortType}}" st-skip-natural="true" st-sort="uid" ng-click="setSortOrder()"></span>
                                    </abbr>
                                    </th>
                                    </tr>
                                    </thead>                                    
                                    <tbody id="scrolltable" >
                                        <tr ng-show="!isLoading"  ng-repeat='systemadministratordetails in systemadministrators' ng-click='selectSystemAdministrator(systemadministratordetails, $index)' ng-class="{selectedActive: $index == selectedRow}" > 
                                            <td>{{systemadministratordetails.uid}}</td>
                                        </tr>
                                        <tr  ng-if="systemadministrators == null"><td class="alert">{{error}}</td></tr>
                                        <tr ng-show="isLoading">
                                            <td  class="text-center loader-area"><div ng-show="isLoading" class="loading-indicator"></div> </td>
                                        </tr>
                                    </tbody>                                    
                                    <tfoot class="pagination-container" ng-if="systemadministrators != null">
                                        <tr>
                                            <td class="paginationarea">
                                                <div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage" ></div>
                                                <div class="page_change">                                                
                                                    <select ng-model="itemsByPage" id="itemsByPage" name="itemsByPage" ng-change="setItemsByPage()">
                                                        <option ng-repeat="data in paginationPageSizes" value="{{data}}" ng-selected="itemsByPage == data">{{data}}</option>
                                                    </select>               
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="view_container">
                                <div class="listgridheader">
                                    <!-- ng-if="superaccess[module]==accessAdmin"> 
                                    <a  href="javascript:;" class="primary" ng-click="confirmDelete(selectedSystemAdministrator.id)"><img src="{{config.domainPath}}/assets/images/delete_list.png"><span class="action">Delete</span></a>
                                    <a  href="{{config.urlPath}}/{{applicationId}}/systemadministrators/edit/{{selectedSystemAdministrator.id}}" class="primary w68"><img src="{{config.domainPath}}/assets/images/edit_list.png"><span class="action">Edit</span></a>
                                    <a href="#/{{applicationId}}/systemadministrators/add"  class="primary w68" ><img src="{{config.domainPath}}/assets/images/add_list.png"><span class="action">Add</span></a-->
                                    
                                    <a ng-if="superaccess[module] == accessAdmin" href="{{config.urlPath}}/systemadministrators/edit" class="primary"><img src="{{config.domainPath}}/assets/images/assign_user.png"><span class="action">Assign System Users</span></a>

                                    <div class="clearfix"></div>
                                </div>
                                <div  class="view_details">
                                    <p class="scrollrightdiv" ng-if="systemadministrators == null"> {{error}}</p>
                                    <div id="scrollrightdiv" class="scrollrightdiv" ng-if="systemadministrators != null"> 
                                        <label>User</label>
                                        <p>{{ selectedSystemAdministrator.uid}}</p><div class="view_details_field_spacer"></div>
                                        <label>Source</label>
                                        <p>{{sourceName}}</p><div class="view_details_field_spacer"></div>
                                    </div>
                                </div>                                
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>    
        </div>
    </div>
</div>

<ng-include src="config.domainPath+'/shared/footer.html'"></ng-include>
