<ng-include src="config.domainPath+'/shared/header.html'"></ng-include>
  
<div class="navigationpage_wrapper right_subheader page_wrapper" ng-controller="manageFunctionController">
  <div class="site-canvas">
	<ng-include src="config.domainPath+'/shared/menu.html'"></ng-include>
    <div class="container-fluid slide_up">
        <div class="navright_container">
            <ul class="page_path">
                <li><a href="{{config.urlPath}}/home">Home </a></li>
                <li><a href="{{config.urlPath}}/home/{{applicationId}}">{{applicationName}} </a></li>
                 <li><a href="{{config.urlPath}}/{{applicationId}}/functions">Functions </a></li>
                 <li class="last">{{mode|capitalize}}</li>
            </ul>           
            <div class="header_info">
                <h3 class="page_heading">
                    <span class="header">Function</span>
                </h3>

                <div class="clearfix"></div>				
            </div>
            <div class="pageform_wrapper">
                <div class="form_container">
                    <form  name="functionsForm" novalidate ng-submit="submitData(functions, mode, functionsForm.$valid)"> 
                        <div ng-class="{true: 'error'}"> 
                            <md-input-container flex>
                                <label class="control-group">Name<em>*</em></label>
                                <div><h1>{{model.message}}</h1></div>
                                <input type="text" ng-model="functions.name" name="functionName" ng-minlength="1" required>
                                <span class="error" style="color:red" ng-show="functionsForm.functionName.$dirty && functionsForm.functionName.$invalid || submitted">
                                    <span ng-show="functionsForm.functionName.$error.required">Name is required.</span>
                                    <!--<span ng-show="functionsForm.functionName.$error.minlength">Name must be more than 5 characters.</span>--> 
                                </span>
                            </md-input-container>
                        </div>
                        <div  ng-class="{true: 'error'}"> 
                            <md-input-container flex>
                                <label>Class Name</label>
                                <input type="text" ng-model="functions.className" name="functionClassName" required>                               
                            </md-input-container>
                        </div>
                        <div  ng-class="{true: 'error'}"> 
                            <!-- <md-input-container flex>
                                <label>Description</label>
                                <textarea ng-model="functions.description" columns="1" rows="2" name="functionDescription"></textarea>                                                           
                            </md-input-container> -->
                            <div class="material-like-input">
								<label>Description</label>
								<textarea ng-model="functions.description" rows="12"></textarea>
							</div>
                        </div>
                        <div class="button_group"> 
                            <div  ng-click="submitted = true">
                                <span class="ng-scope"> <md-button>{{translation.function.SAVE}}</md-button></span>
                            </div>
                            <div>
                                <span class="ng-scope"> <md-button type='reset' ng-click="redirectList();">{{translation.function.CANCEL}}</md-button></span>
                            </div>
                        </div> 
                    </form>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>  
</div>

<ng-include src="config.domainPath+'/shared/footer.html'"></ng-include>
