  
  Stage 2
<div class="view_details_field_spacer"></div>


<div ng-show="policyType=='users' || policyType == 'groups'" class="list_container selectbox1"> 
     <label class="control-group dropdown_label">Source<em>*</em></label>
     <div class="selectbox1-opener" ng-click="openDropdown = !openDropdown">{{sourceName|| 'Select Source'}} 
         <span ng-class="getDropdownIconClass()" class="dropdown-icon"></span>
     </div>
     <table ng-show="openDropdown" st-pipe="callServerForPrincipalSource"  st-table="sources" class="smart-table table table-striped" cellspacing="0" cellpadding="0">
         <thead>
             <tr>
                 <th class="search_box"> <input class="selectbox1_bg" type="text" focus-on="focusInput" st-search="name" ng-model="search" placeholder="Search">
                 </th>
             </tr>
         </thead>
         <tbody id="scrolldropdown" style="min-width:334px;" >
             <tr ng-show="!isLoading" actions-repeat-directive ng-repeat='sourcedetails in sources'  ng-click='selectSource(sourcedetails)' >
                 <td>{{sourcedetails.name}}</td>
             </tr>
             <tr ng-if="sources == null">
                 <td class="alert">{{error}}</td>
             </tr>
             <tr ng-show="isLoading">
                 <td  class="text-center loader-area"><div ng-show="isLoading" class="loading-indicator"></div></td>
             </tr>
         </tbody>
         <tfoot class="pagination-container" ng-if="sources != null">
             <tr>
                 <td class="paginationarea"><div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage" ></div>
                     <div class="page_change">
                         <select ng-model="itemsByPage"  name="itemsByPage">
                             <option ng-repeat="data in paginationPageSizes" value="{{data}}">{{data}}</option>
                         </select>
                     </div></td>
             </tr>
         </tfoot>
     </table>
 </div>
<div class="view_details_field_spacer"></div>


<div class="list_serach map_deligated">
    <div id="usermainContent" class="slide_tab_content" >
        <div class="dual_list_container listdeligated">
            <div class="list_container" st-pipe="callServerForRoles" st-table="availableRoles">

                <div class="search_box full">
                    <span class="search_header">{{policyType| capitalize}}</span>
                    <a class="search_button" ng-click="startSearch('principalsource')" ng-if="principalsourcesearchIcon"><img src="{{config.domainPath}}/assets/images/landing_search_icon.png" width="15" height="15" alt=""/></a>

                    <div class="search_window animate_sideways" ng-show="principalsourcesearchBox">                                        
                        <input type="text" focus-on="principalsourcefocusInput"  st-search="name"  placeholder="Search">
                        <a class="close_button"  st-refresh='name' ng-click="endSearch('principalsource')">&times;</a>
                    </div>

                    <div class="search_sort_right">
                        <abbr title="Sort"><span class="sort_icon"  st-sort-default="{{sortType}}" st-skip-natural="true" st-sort="name" ></span></abbr>
                    </div>
                </div>
                <div id='unassignscroll'>
                    <ul ng-show="!isLoading">
                        <li id='{{principal.id}}'  ng-repeat='principal in availablePrincipals' ng-click='toggleItemSelect(principal)'  ng-class="{mapped:principal.isSelected}">

                            <span ng-if="policyType =='roles' || policyType == 'groups' " class='right_list_text'>{{principal.name}} </span>
                            <span ng-if="policyType =='users' " class='right_list_text'>{{principal.uid}} </span>
                        </li>
                    </ul>
                    <ul ng-if="availablePrincipals == null || availablePrincipals.length == 0" class="loader-area">
                        <li><div class="alert">{{error}}</div></li>
                    </ul>
                    <ul  ng-show="isLoading" class="text-center loader-area">
                        <li><div  class="loading-indicator"></div></li>
                    </ul>


                    <div class="clearfix"></div>
                </div>

                <div class="paginationarea" ng-if="availablePrincipals != null">
                    <div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage" ></div>
                    <div class="page_change">                                                
                        <select ng-model="itemsByPage"  name="itemsByPage">
                            <option ng-repeat="data in paginationPageSizes" value="{{data}}">{{data}}</option>
                        </select>               
                    </div>
                </div>
                <div class="paginationarea" ng-if="selectedPrincipals == null">
                    <div class="left-pagination"  ></div>
                    <div class="page_change">                                              

                    </div>
                </div>
            </div>
            <div class="list_btn_container">
                <img  src="{{config.domainPath}}/assets/images/right_add.png"  ng-click='addSelectedPrincipals()' title="Add" alt="Add" /><br/><br/><br/><br/>
                <img  src="{{config.domainPath}}/assets/images/left_remove.png"  ng-click='removeSelectedPrincipals()' title="Remove" alt="Remove" /><br/><br/><br/><br/>
                <img  src="{{config.domainPath}}/assets/images/reset_assign.png"  ng-click='resetPrincipalItems()' title="Reset" alt="Reset" />

            </div>
            <div class="right list_container" st-table="selectedPrincipalList" st-safe-src="selectedPrincipals">
                <div class="search_box full">
                    <span class="search_header">Selected {{policyType| capitalize}}</span>
                    <a class="search_button" ng-click="startSearch('principaltarget')" ng-show="principaltargetsearchIcon"><img src="{{config.domainPath}}/assets/images/assign_search.png" width="15" height="15" alt=""/></a>

                    <div class="search_window animate_sideways" ng-show="principaltargetsearchBox">

                        <input type="text" focus-on="principaltargetfocusInput" st-search="name"  placeholder="Search">
                        <a class="close_button" st-refresh='name' ng-click="endSearch('principaltarget')">&times;</a>
                    </div>

                    <div class="search_sort_right">
                        <abbr title="Sort"><span class="sort_icon"  st-sort-default="{{sortType}}" st-skip-natural="true" st-sort="name" ></span></abbr>
                    </div>
                </div>

                <div id='assignscroll'>
                    <ul>
                        <li  ng-repeat='principal in selectedPrincipalList' ng-click='toggleItemSelect(principal)' ng-class="{selectedActive: isSelectedTarget(item)}">
                            <span ng-if="policyType =='roles'" class='right_list_text'>{{principal.name}} </span>
                            <span ng-if="policyType == 'groups' " class='right_list_text'>{{principal.name}} ({{principal.sid}}) </span>
                            <span ng-if="policyType =='users' " class='right_list_text'>{{principal.uid}} ({{principal.sid}})</span>
                        </li>
                    </ul>
                    <ul ng-if="selectedPrincipals==null || selectedPrincipals.length==0" class="loader-area">
                        <li><div class="alert">Add {{policyType|capitalize}}</div></li>
                    </ul>
                </div>
                <div class="paginationarea" ng-if="selectedPrincipalList!=null && selectedPrincipalList.length > 0">
                    <div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage" ></div>
                    <div class="page_change">                                                
                        <select ng-model="itemsByPage"  name="itemsByPage">
                            <option ng-repeat="data in paginationPageSizes" value="{{data}}">{{data}}</option>
                        </select>               
                    </div>
                </div>
                <div class="paginationarea" ng-if="selectedPrincipalList == null || selectedPrincipalList.length==0">
                    <div class="left-pagination"  ></div>
                    <div class="page_change">                                                

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>


























<!-- 

<div class="dual_list_container">
	<div class="list_container grid_box">     
            <table st-pipe="callServerForRoles" st-table="availableRoles"  class="smart-table table table-striped" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th class="search_box full"> <span class="search_header" >Name</span> <a class="search_button" ng-click="startSearchLHS()" ng-show="searchIconLHS"><img src="{{config.domainPath}}/assets/images/search_list.png"  alt=""/></a>
                    <div class="search_window animate_sideways" ng-show="searchBoxLHS">
                      <input type="text" focus-on="focusInput" st-search="name"  ng-model="search" placeholder="Search">
                      <a class="close_button" st-refresh='name' ng-click="endSearchLHS()">&times;</a> </div>
                    <span  class="sort_icon" ng-if="roles != null" st-sort-default="{{sortType}}" st-skip-natural="true" st-sort="name" ></span> </th>
                </tr>
              </thead>
              <tbody id="scrolltable">
                <tr ng-show="!isLoading" roles-repeat-directive ng-repeat="principal in availablePrincipals" ng-click='toggleItemSelect(principal)' ng-class="{selectedActive: principal.isSelected}"  >
                  <td ng-if="policyType == 'roles'">{{principal.name}}</td>
                  <td ng-if="policyType == 'users'">{{principal.uid}}</td>
                  <td ng-if="policyType == 'groups'">{{principal.name}}</td>
                </tr>
                <tr ng-if="roles == null">
                  <td class="alert">{{error}}</td>
                </tr>
                <tr ng-show="isLoading">
                  <td  class="text-center loader-area"><div ng-show="isLoading" class="loading-indicator"></div></td>
                </tr>
              </tbody>
              <tfoot class="pagination-container" ng-if="availablePrincipals != null">
                <tr>
                  <td class="paginationarea"><div class="left-pagination" st-pagination="" st-items-by-page="itemsByPage" ></div>
                    <div class="page_change">
                      <select ng-model="itemsByPage"  name="itemsByPage">
                        <option ng-repeat="data in paginationPageSizes" value="{{data}}">{{data}}</option>
                      </select>
                    </div></td>
                </tr>
              </tfoot>
            </table>						             

                   </div>
                   <div class="list_btn_container">
                       <img src="assets/images/right_add.png" ng-click="addSelectedPrincipals()" title="Add" alt="Add" tabindex="0"><br><br><br><br>
                       <img src="assets/images/left_remove.png" ng-click="removeSelectedPrincipals()" title="Remove" alt="Remove" tabindex="0"><br><br><br><br>
                       <img src="assets/images/reset_assign.png" ng-click="resetPrincipalItems()" title="Reset" alt="Reset" tabindex="0">
                   </div>
<div class="list_container grid_box">     
	
	
	
            <table class="smart-table table table-striped" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th class="search_box full"> <span class="search_header" >Name</span> <a class="search_button" ng-click="startSearchRHS()" ng-show="searchIconRHS"><img src="{{config.domainPath}}/assets/images/search_list.png"  alt=""/></a>
                    <div class="search_window animate_sideways" ng-show="searchBoxRHS">
                      <input type="text" focus-on="focusInput" ng-model="searchParam" placeholder="Search">
                      <a class="close_button" ng-click="endSearchRHS(); searchParam = '';">&times;</a> </div>
                    <span  class="sort_icon" ng-if="roles != null" ></span> </th>
                </tr>
              </thead>
              <tbody id="scrolltable">
                <tr roles-repeat-directive ng-repeat="principal in selectedPrincipals | filter:searchParam" ng-click='toggleItemSelect(principal)' ng-class="{selectedActive: principal.isSelected}"  >
                  <td ng-if="policyType == 'roles'">{{principal.name}}</td>
                  <td ng-if="policyType == 'users'">{{principal.uid}}  ({{principal.sid}})</td>
                  <td ng-if="policyType == 'groups'">{{principal.name}}  ({{principal.sid}})</td>
                </tr>

              </tbody>
            </table>						             

	</div>                        
</div>
 --> 
                  <div class="clearfix"></div>
